*.pt
*.pth
tmp/*
src/*/tmp/*
src/tmp*
*.log
*.log.*
__pycache__/*
*.pyc
datasets/*
*.pkl
*.npy
*.npz
*.ipynb
*.csv
*.txt
# *.md
data/*
test.py
*.json
events.*
*.yaml
*.ckpt
*.zip
*.rar
*.tar
*.tar.gz
*.mat
result*
*.kv
!requirements.txt
*.word2vec
glove.*
lightning_logs
